.image-dragging {
  /* transform: scale(0.95); */
  border-radius: 4px;
  box-shadow: 10px 10px 50px -14px rgba(0, 0, 0, 0.5);
  transform: rotate3d(0, 0, 1, 3deg);
}

.image-drop {
  transform: scale(0.95);
  border-radius: 4px;
  box-shadow: 10px 10px 50px -14px rgba(0, 0, 0, 0.5);
}

.glightbox-clean .gslide-description {
  background: transparent !important;
}
.gdesc-inner {
  background-image: linear-gradient(transparent, #272727) !important;
  color: lightgrey;
  font-size: 15px;
  position: absolute;
  width: calc(100% - 39px);
  bottom: 0;
  left: -1px;
  word-break: break-all;
}

.image-tool {
  --bg-color: #cdd1e0;
  --front-color: #388ae5;
  --border-color: #e8e8eb;

  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;

  &__main_upload_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    padding: 0;

    &:hover {
      background: #ffffff;
    }

    &_info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 15px;
    }

    &_icon {
      svg {
        width: 24px;
        height: 24px;
        margin-top: 0;
        margin-right: 0;
      }
    }

    &_icon_small {
      svg {
        width: 21px;
        height: 21px;
        margin-top: 0;
        margin-right: 0;
      }
    }

    &_button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;

      &:hover {
        background: #fbfcfe;
      }

      &_title {
        font-size: 16px;
        font-weight: bold;
      }

      &_desc {
        font-size: 12px;
        margin-top: 2px;
      }
    }
  }

  &__popover {
    margin-top: 8px;
    margin: 5px;
    max-width: 300px;
    &_input_wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &_input {
        flex-grow: 1;
        border: 1px solid #e5e5e7;
        width: 100%;
        height: 32px;
        min-width: 240px;
        outline: none;
        border-radius: 4px;
        padding: 0 5px;

        &:focus {
          border: 1px solid grey;
        }

        transition: width 0.25s;
      }
      &_confirm {
        display: none;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 28px;
        margin-left: 5px;
        background: #fbfcfe;
        border: 1px solid;
        border-color: #e4e4e6;
        border-radius: 4px;
        box-shadow: 0 2px 2px 0 rgba(18, 30, 57, 0.04);
        cursor: pointer;

        svg {
          fill: grey;
          width: 15px;
          height: 15px;
          margin-left: 3px;
          margin-top: 1px;
        }
      }
    }

    &_note {
      font-size: 12px;
      color: #b7b7b7;
    }

    &_error {
      display: none;
      font-size: 12px;
      color: tomato;
      text-align: left;
      margin-top: 4px;

      svg {
        fill: tomato;
        width: 10px;
        height: 10px;
      }
    }
  }

  &__image {
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    &-wrapper {
      position: relative;
      border: 1px solid transparent;
      padding: 2px;
      box-sizing: border-box;
      touch-action: none;

      &:hover {
        border: 1px dotted;
        border-color: #47c0ff;
      }

      &-infolabel {
        position: absolute;
        top: 20px;
        left: calc(50% - 80px);
        z-index: 2;
        height: 21px;
        min-width: 160px;
        padding: 0 10px;
        padding-top: 3px;
        background: #444444;
        border-radius: 5px;
        color: #f3f3f3;
        font-size: 14px;
        display: flex;
        justify-content: center;
        opacity: 0;

        transition: opacity 0.5s;
      }

      &:hover &-topleft-dragger {
        position: absolute;
        cursor: inherit;
        z-index: 1;
        top: -2px;
        left: -2px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #47c0ff;
        border: 1px solid;
        border-color: white;
      }

      &:hover &-topright-dragger {
        position: absolute;
        cursor: inherit;
        z-index: 1;
        top: -2px;
        right: -2px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #47c0ff;
        border: 1px solid;
        border-color: white;
      }

      &:hover &-bottomleft-dragger {
        position: absolute;
        cursor: inherit;
        z-index: 1;
        bottom: -2px;
        left: -2px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #47c0ff;
        border: 1px solid;
        border-color: white;
      }

      &:hover &-bottomright-dragger {
        position: absolute;
        cursor: inherit;
        z-index: 1;
        bottom: -2px;
        right: -2px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #47c0ff;
        border: 1px solid;
        border-color: white;
      }
    }

    &-picture {
      max-width: 100%;
      vertical-align: bottom;
      display: block;
      z-index: 5;
    }
  }

  &__caption {
    border: none;
    text-align: center;
    color: grey;
    box-shadow: none;
    margin-left: 4%;

    &[contentEditable="true"][data-placeholder]::before {
      position: absolute;
      margin-left: -60px;
      content: attr(data-placeholder);
      color: #707684;
      font-weight: normal;
      opacity: 0;
    }

    &[contentEditable="true"][data-placeholder]:empty {
      &::before {
        opacity: 1;
      }

      &:focus::before {
        opacity: 0;
      }
    }
  }

  &__hint-box {
    position: absolute;
    top: -20px;
    left: calc(50% - 50px);
    display: none;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    max-width: 300px;
    height: 20px;
    color: white;
    border-radius: 3px;
    font-size: 11px;
    opacity: 0.8;

    &__normal {
      background: #69737d;
      &::after {
        content: "";
        position: absolute;
        z-index: 3;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid transparent;
        border-top-color: white;
        left: 50%;
        top: 50%;
        margin-top: -5px;
        margin-left: -40px;
        animation: loading-spin 0.5s infinite linear;
        box-sizing: border-box;
        opacity: 0.8;
      }
    }
    &__error {
      background: tomato;
      svg {
        fill: white;
        width: 10px;
        height: 10px;
      }
    }
  }
}

/**
 * Tunes
 * ----------------
 */
.cdx-settings-panel {
  display: flex;
  padding-bottom: 3px;
  max-width: 120px;
  flex-wrap: wrap;
}

.opacity-08 {
  opacity: 0.8;
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
