.image-tool {
  --bg-color: #CDD1E0;
  --front-color: #388AE5;
  --border-color: #E8E8EB;

  &__image {
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    &-wrapper {
      position: relative;
      border: 1px solid transparent;

      &-infolabel {
        position: absolute;
        top: 20px;
        left: 40%;
        z-index: 2;
        height: 21px;
        min-width: 150px;
        padding: 0 10px;
        background: #444444;
        border-radius: 5px;
        color: #f3f3f3;
        font-size: 14px;
        display: flex;
        justify-content: center;
        opacity: 0;

        transition: opacity 0.5s;
      }

      &:hover {
        border: 1px solid #47c0ff;
        border-color: #47c0ff; 
      }

      &:hover &-topleft-dragger {
        position: absolute;
        cursor: ew-resize;
        z-index: 1;
        top: -6px;
        left: -6px;
        width: 8px;
        height: 8px;
        border-radius: 20%;
        background: #47c0ff;
        border: 3px solid white;
        border-top-left-radius: unset;
      }

      &:hover &-topright-dragger {
        position: absolute;
        cursor: ew-resize;
        z-index: 1;
        top: -6px;
        right: -6px;
        width: 8px;
        height: 8px;
        border-radius: 20%;
        background: #47c0ff;
        border: 3px solid white;
        border-top-right-radius: unset;
      }

      &:hover &-bottomleft-dragger {
        position: absolute;
        cursor: ew-resize;
        z-index: 1;
        bottom: -6px;
        left: -6px;
        width: 8px;
        height: 8px;
        border-radius: 20%;
        background: #47c0ff;
        border: 3px solid white;
        border-bottom-left-radius: unset;
      }

      &:hover &-bottomright-dragger {
        position: absolute;
        cursor: ew-resize;
        z-index: 1;
        bottom: -6px;
        right: -6px;
        width: 8px;
        height: 8px;
        border-radius: 20%;
        background: #47c0ff;
        border: 3px solid white;
        border-bottom-right-radius: unset;
      }
    }

    &-picture {
      max-width: 100%;
      vertical-align: bottom;
      display: block;
      z-index: 5;
    }

    &-preloader {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-size: cover;
      margin: auto;
      position: relative;
      background-color: var(--bg-color);
      background-position: center center;

      &::after {
        content: '';
        position: absolute;
        z-index: 3;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid var(--bg-color);
        border-top-color: var(--front-color);
        left: 50%;
        top: 50%;
        margin-top: -30px;
        margin-left: -30px;
        animation: image-preloader-spin 2s infinite linear;
        box-sizing: border-box;
      }
    }
  }

  &__caption {
    &[contentEditable=true][data-placeholder]::before{
      position: absolute;
      content: attr(data-placeholder);
      color: #707684;
      font-weight: normal;
      opacity: 0;
    }

    &[contentEditable=true][data-placeholder]:empty {

      &::before {
        opacity: 1;
      }

      &:focus::before {
         opacity: 0;
      }
    }
   }

  &--empty {
    ^&__image {
      display: none;
    }
  }

  &--empty,
  &--loading {
    ^&__caption {
      display: none;
    }
  }

  &--filled {
    .cdx-button {
      display: none;
    }

    ^&__image {
      &-preloader {
        display: none;
      }
    }
  }

  &--loading {
    ^&__image {
      min-height: 200px;
      display: flex;
      border: 1px solid var(--border-color);
      background-color: #fff;

      &-picture {
        display: none;
      }
    }

    .cdx-button {
      display: none;
    }
  }

  /**
   * Tunes
   * ----------------
   */

  &--withBorder {
    ^&__image {
      border: 1px solid var(--border-color);
    }
  }

  &--withBackground {
    ^&__image {
      padding: 15px;
      background: var(--bg-color);

      &-picture {
        max-width: 60%;
        margin: 0 auto;
      }
    }
  }

  &--stretched {
    ^&__image {
      &-picture {
        width: 100%;
      }
    }
  }
}

.opacity-08 {
  opacity: 0.8;
}

@keyframes image-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
